.ui.card(style="margin: 0 auto")
  a.ui.image(href=`${post.content}`,style="width:300px;height:300px;overflow:hidden;position:relative")
          img(src=`${post.content}`,style="position:absolute;left:-100%;right:-100%;top:-100%;bottom:-100%;margin:auto;min-width:100%;min-height:100%;")