
if comments
    .ui.comments
        for comment in comments
            if comment.display === true
                .comment(id=comment._id)
                    a.avatar
                        img(src='/images/avatar.png')
                    .content
                        a.author
                            | #{comment.publisher}
                        if comment.publisher === user.id 
                            span.right.floated
                                i.trash.icon(style="cursor:pointer")
                        .text
                            | #{comment.content}