extends layout

block content

  include header
  
  .ui.three.column.grid(style="width: 70%;padding-top:100px;margin: 0 auto")
    if user.posts
      for post in user.posts
        .column
          include card