extends layout

block content

  div.ui.middle.aligned.center.aligned.grid(style="padding-top:200px")
    div.cloumn(style="width: 400px")
        h2.ui.teal.header(style="text-align:center")
            div.content(style="font-size:40px;color:#000000") Photo Zone Finder
            div.content(style="padding-top:10px;font-size:20px;color:#9CA2A6") 포토존을 보려면 가입하세요.
        form.ui.large.form(action="/users/local" method="POST")
            div.ui.stacked.segment
                div.field
                div.ui.left.icon.input(style="width:100%")
                    i.user.icon
                    input#id(type="text" name="id" placeholder="아이디" required="" )
                div.field
                div.ui.left.icon.input(style="width:100%")
                    i.lock.icon
                    input(type="password" name="password" placeholder="비밀번호" required="")
                div.field
                input.ui.fluid.large.teal.submit.button(type="submit" value="가입" style="background:#108FE3")
                div.field
                div(style="text-align:center;color:#D51414")= errorMessage

        a.ui.google.negative.basic.button(href="/auth/google",style="margin-top:20px; height : 40px ;width:100%")
            i.google.red.icon
            span 구글 가입

        div.ui.message(style="text-align:center;background:#FFFFFF") 계정이 있으신가요? 
            a(href="/sign-in" style="color:#4183C4") 로그인